@import './nav.css';
@import './main.css';
@import './about.css';
@import './coding.css';
@import './music.css';
@import './blog.css';
@import './contact.css';
@import './colorMode.css';


/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

:root {
    /* color variables */
    --orange:#EE6B5C;
    --blue:#1E3342;
    --gray:#8C8C8C;
    --white:#F9F8F8;
    --darkergray: #7e7e7e;

    /* font variables */
    --main: 'Playfair Display', serif;
    --text: 'Lato', sans-serif;
}

html {
    overflow-x: hidden;
}

/* shared design */
body {
    margin: 0;
}

.app-darkmode {
    background-color: var(--blue);
    transition: background-color 0.25s ease-out;
    min-height: 100vh;
}

.app-lightmode {
    background-color: var(--white);
    transition: background-color 0.25s ease-out;
    min-height: 100vh;
}

.home {
    margin: 0 20% 0 20%;
}

.routes {
    margin-left: 10%;
}

#main-header {
    font-size: 70px;
    color: var(--orange);
    font-weight: bold;
    font-family: var(--main);
    margin-bottom: 0;
}

/* iPad Pro */
@media(width: 1024px),
(height: 1366px) {

    #main-header {
        font-size: 100px;
    }

    .home {
        margin: 0 10% 0 30%;
    }
}

/* iPad */
@media(width: 768px),
(height: 1024px) {

    #main-header {
        font-size: 80px;
    
    }

    .home {
        margin: 0 10% 0 30%;
    }

    .app-darkmode {
        min-height: 107vh;
        min-width: 107vw;
    }
    
    .app-lightmode {
        min-height: 107vh;
        min-width: 107vw;
    }
}

/* Surface Duo */
@media(width: 540px),
(height: 720px) {

    #main-header {
        font-size: 70px;
    }

    .home {
        margin: 0 0 0 35%;
    }

    .app-darkmode {
        min-height: 107vh;
        min-width: 107vw;
    }
    
    .app-lightmode {
        min-height: 107vh;
        min-width: 107vw;
    }
}

/* Moto G4 & Galaxy S5 */
@media(width: 360px),
(height: 640px) {

    #main-header {
        font-size: 60px;
    }

    .home {
        margin: 0 0 0 0;
    }

    .app-darkmode {
        min-height: 100vh;
        min-width: 100vw;
    }
    
    .app-lightmode {
        min-height: 100vh;
        min-width: 100vw;
    }
}

/* Pixel 2 & Pixel XL */
@media(width: 411px),
(height: 731px) {

    #main-header {
        font-size: 60px;
    }

    .home {
        margin: 0 0 0 0;
    }

    .app-darkmode {
        min-height: 100vh;
        min-width: 100vw;
    }
    
    .app-lightmode {
        min-height: 100vh;
        min-width: 100vw;
    }
}

/* iPhone 5/SE */
@media(width: 320px),
(height: 568px) {

    #main-header {
        font-size: 60px;
    }

    .home {
        margin: 0 0 0 0;
    }

    .app-darkmode {
        min-height: 100vh;
        min-width: 100vw;
    }
    
    .app-lightmode {
        min-height: 100vh;
        min-width: 100vw;
    }
}









