@import './nav.css';
@import './main.css';
@import './page.css';
@import './interests.css';
@import './blog.css';
@import './contact.css';
@import './colorMode.css';
@import './card.css';

:root {
    /* color variables */
    --cornflowerblue: #719BE5;
    --periwinklecrayola: #BFD2F4;
    --lightsteelblue: #b4c7e7;
    --blueyonder: #667896;
    --independence: #475672;
    --darkerindependence: #404d66;

    /* font variables */
    --main: 'Helvetica Neue', Arial, serif;
    --text: 'Helvetica Neue', Arial, sans-serif;
}

html {
    overflow-x: hidden;
    /* temp fix, can remove once every section has content on deployed site */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* shared design */
body {
    margin: 0;
}

.app {
    background-color: var(--independence);
    transition: background-color 0.25s ease-out;
    min-height: 100vh;
}

.app.light {
    background-color: var(--periwinklecrayola);
}

.home {
    margin: 0 20% 0 20%;
}

.routes {
    margin-left: 10%;
}

#main-header {
    font-size: 100px;
    color: var(--cornflowerblue);
    font-weight: bold;
    font-family: var(--main);
    margin-bottom: 0;
}


@media(max-width: 1000px) {

    .routes {
        margin-left: 10%;
    }

    #main-header {
        font-size: 60px;
    }

    .home {
        margin: 0 0 0 0;
    }

    .app {
        min-height: 100vh;
        min-width: 100vw;
    }
}

/* iPad Pro */
@media(width: 1024px) {

    #main-header {
        font-size: 100px;
    }

    .home {
        margin: 0 10% 0 30%;
    }
}

/* iPad */
@media(width: 768px) {
    
    #main-header {
        font-size: 60px;
    }

    .home {
        margin: 0 0 0 0;
    }

    .app {
        min-height: 100vh;
        min-width: 100vw;
    }
}

/* Surface Duo */
@media(width: 540px) {

    html {
        scroll-behavior: initial;
    }

    #main-header {
        font-size: 60px;
    }

    .home {
        margin: 0 0 0 0;
    }

    .app {
        min-height: 100vh;
        min-width: 100vw;
    }
}

/* phones */
@media(max-width: 414px) {

    html {
        scroll-behavior: initial;
    }

    #main-header {
        font-size: 60px;
    }

    .home {
        margin: 0 0 0 0;
    }

    .app {
        min-height: 100vh;
        min-width: 100vw;
    }
}

/* Galaxy Fold */
@media(width: 280px) {

    #main-header {
        font-size: 50px;
    }
}