@import 'main';
@import 'nav';
@import 'page';
@import 'blog';
@import 'contact';
@import 'colorMode';
@import 'card';
@import 'projects';
@import 'services';
@import 'footer';
@import 'imageCarousel';
@import 'loadingSkeleton';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

:root {
    /* color variables */
    --ivory: #EFF3E5;
    --darkgray: #212930;

    /* font variables */
    --font: 'Manrope', sans-serif;

    /* font weight variables */
    --main: 800;
    --text: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    margin: 0;
    background-color: var(--ivory);
}

.app {
    min-height: 100vh;
}