.blog {
  min-height: 100vh;
  background-color: var(--ivory);
  text-align: center;
}

.blog-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1%;
  row-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 1%;
}

.blog-container.all {
  padding-bottom: 2%;
}

.all-blog-container {
  text-align: center;
}

.search-page {
  display: grid;
}

.search-form {
  display: flex;
  width: 50vw;
}

.focused-post {
  min-height: 90vh;
  background-color: var(--ivory);
  padding-bottom: 2%;
}

.focused-post-container {
  display: flex;
  flex-direction: column;
}

.post-title {
  justify-self: center;
  align-self: center;
  color: var(--darkgray);
  font-family: var(--main);
  font-size: 32px;
  margin-top: 3%;
}

.post-info {
  font-style: italic;
  font-family: var(--text);
  color: var(--darkgray);
  font-size: 14px;
  margin: 2% 0 2% 10%;
}

.post-body {
  justify-self: center;
  align-self: center;
  width: 80vw;
  color: var(--darkgray);
  font-family: var(--text);
  font-size: 16px;
  line-height: 2;
}

@media (max-width: 1250px) {
  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* DEVICE SPECIFIC STYLING */

@media only screen and (max-device-width: 415px) and (max-device-height: 920px) {
  .post-title {
    padding: 0 5%;
    text-align: center;
  }

  .post-body {
    font-size: 16px;
    width: 90vw;
  }

  .post-info {
    text-align: center;
    margin: 3% 0;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) {
  .post-body {
    font-size: 16px;
  }
}
