.blog {
    display: flex;
    margin: 0 10% 0 0;
    flex-direction: column;
    max-width: 700px;
}

.focused-blog {
    display: flex;
    margin: 10% 0 0 10%;
    flex-direction: column;
    max-width: 700px;
}

.back-button {
    background-color: var(--independence);
    color: var(--periwinklecrayola);
    border-bottom: 2px var(--periwinklecrayola) solid;
    font-family: var(--text);
    font-size: 22px;
    max-width: 46px;
}

.back-button.light {
    background-color: var(--periwinklecrayola);
    color: var(--blueyonder);
    border-bottom: 2px var(--blueyonder) solid;
}

.back-button:hover {
    color: var(--periwinklecrayola);
    font-weight: bold;
    border-bottom: 4px solid var(--cornflowerblue);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.back-button.light:hover {
    color: var(--independence);
}

/* iPad Pro */
@media(max-width: 1024px) {
    .focused-blog {
        margin: 20% 10% 0 0;
    }
}

/* iPad */
@media(width: 768px),
(height: 1024px) {
    .focused-blog {
        margin: 15% 10% 0 0;
    }
}

/* Surface Duo */
@media(width: 540px) {
    .focused-blog {
        margin: 15% 10% 0 0;
    }
}

/* phones */
@media(max-width: 414px) {
    .focused-blog {
        margin: 20% 10% 0 0;
    }
}

