.card {
    color: var(--white);
    font-family: var(--text);
    font-size: 22px;
    background-color: #192a35;
    margin-bottom: 30px;
    padding-top: 0;
    border-radius: .5em
}

.card-header {
    background-color: #121e25;
    padding: 20px;
    display: flex;
    border-radius: .5em .5em 0 0;
    justify-content: space-between;
    
}

.card-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.card-date {
    color: #c4c4c4;
    font-size: 14px;
    
}

.card-body {
    padding: 20px;
}