.card {
    color: var(--white);
    font-family: var(--text);
    font-size: 24px;
    background-color: #192a35;
    margin: 20px 0 10px 0;
    padding-top: 0;
    border-radius: .5em
}

.card.light {
    color: var(--gray);
    background-color: var(--white);
    border: 1px var(--gray) solid;
}


.card-header {
    background-color: #121e25;
    padding: 20px;
    display: flex;
    border-radius: .5em .5em 0 0;
    justify-content: space-between;
}

.card-header.light {
    background-color: var(--blue);
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.card-title.light {
    color: var(--white);
}

.card-date {
    color: #bdbcbc;
    font-size: 14px;
    font-weight: bold;
}

.card-date.light {
    color: var(--white);
}

.card-body {
    padding: 10px 30px 30px 30px;
    font-size: 22px;
}

.interest-card-header {
    background-color: #121e25;
    padding: 20px;
    border-radius: .5em .5em 0 0;
}

.interest-card-header.light {
    background-color: var(--blue);
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.card-topic {
    background-color: var(--blue);
    padding: .3em .6em;
    border-radius: .3em;
    font-size: 16px;
    font-weight: bold;
}

.card-topic.light {
    background-color: #121e25;
    color: var(--white);
}


.card-link {
    text-decoration: none;
    color: #bdbcbc;
    border-bottom: 2px#bdbcbc solid;
}

.card-link.light {
    color: var(--blue);
    border-bottom: 2px var(--blue) solid;
}

.card-link:hover {
    color: var(--white);
    font-weight: bold;
    border-bottom: 2px solid var(--orange);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.card-link.light:hover {
    color: var(--blue);
}

.card-body.skeleton {
    color: transparent;
}



/* Moto G4 and Galaxy S5 */
@media(width: 360px) {
    .card {
        font-size: 18px;
    }

    .card-title {
        font-size: 22px;
        
    }

    .card-topic {
        font-size: 14px;
    }

    .card-date {
        font-size: 12px;
    }
}

/* Pixel 2 & Pixel XL */
@media(width: 411px) {
    .card {
        font-size: 18px;
    }

    .card-title {
        font-size: 22px;
        
    }

    .card-topic {
        font-size: 14px;
    }

    .card-date {
        font-size: 12px;
    }
}

/* iPhone 5/SE */
@media(width: 320px) {
    .card {
        font-size: 18px;
    }

    .card-title {
        font-size: 20px;
        
    }

    .card-topic {
        font-size: 14px;
    }

    .card-date {
        font-size: 12px;
    }
}

/* iPhone 6/7/8/X */
@media(width: 375px) {
}
.card {
    font-size: 18px;
}

.card-title {
    font-size: 22px;
    
}

.card-topic {
    font-size: 14px;
}

.card-date {
    font-size: 12px;
}

/* iPhone 6/7/8/ Plus */
@media(width: 414px) {
    .card {
        font-size: 18px;
    }

    .card-title {
        font-size: 22px;
    }

    .card-topic {
        font-size: 14px;
    }

    .card-date {
        font-size: 12px;
    }
}

/* Galaxy Fold */
@media(width: 280px) {
    .card {
        font-size: 18px;
    }

    .card-title {
        font-size: 22px;
        
    }

    .card-topic {
        font-size: 14px;
    }

    .card-date {
        font-size: 12px;
    }
}
