.contact {
  display: flex;
  min-height: 80vh;
  background-color: var(--darkgray);
  width: 100%;
  flex-direction: column;
  font-family: var(--text);
}

.contact-heading {
  font-family: var(--text);
  color: var(--ivory);
  font-weight: 500;
  font-size: 62px;
  text-align: center;
  padding-top: 10%;
}

.contact-sub-heading {
  font-family: var(--text);
  color: var(--darkgray);
  font-weight: 500;
  font-size: 62px;
  text-align: center;
}

.landing-btn.conversation {
  height: 75px;
  width: auto;
  font-size: 24px;
  background-color: var(--darkgray);
  color: var(--ivory);
  border: 2px solid var(--ivory);
  transition: 0.5s;
}

.landing-btn.conversation:hover {
  color: var(--darkgray);
  background-color: var(--ivory);
}

.contact-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: var(--ivory);
  font-family: var(--text);
}

.form-container {
  display: flex;
  flex-direction: row;
}

.contact-form {
  width: 40vw;
  background-color: var(--ivory);
  padding: 25px;
  border: 1px solid var(--darkgray);
}

.contact-header-message {
  color: var(--darkgray);
  font-family: var(--main);
  font-size: 22px;
}

.contact-label {
  font-size: 16px;
  color: var(--darkgray);
  font-family: var(--main);
}

.email-box {
  color: var(--darkgray);
  padding: 5px 5px 5px 10px;
  background-color: var(--ivory);
  border: 1px solid var(--darkgray);
  height: 40px;
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
}

.message-box {
  color: var(--darkgray);
  background-color: var(--ivory);
  font-family: var(--text);
  padding: 5px 5px 5px 10px;
  width: 100%;
  height: 200px;
  font-size: 18px;
  border: 1px solid var(--darkgray);
  margin-top: 5px;
}

.email-box:focus {
  outline: none;
}

.message-box:focus {
  outline: none;
}

::placeholder {
  color: var(--darkgray);
  font-family: var(--text);
}

.submit-btn {
  color: var(--darkgray);
  font-weight: bolder;
  background-color: var(--ivory);
  border: 1px solid var(--darkgray);
  transition: 0.5s;
}

.submit-btn:hover {
  color: var(--ivory);
  background-color: var(--darkgray);
}

.contact-information {
  width: 40vh;
  background-color: var(--darkgray);
  color: var(--ivory);
  font-family: var(--text);
  padding: 25px;
}

.contact-info-message {
  font-family: var(--main);
  font-size: 22px;
}

.contact-info-text {
  font-size: 14px;
  line-height: 1.5;
}

.contact-info-option {
  font-size: 16px;
}

.contact-info-option.phone {
  letter-spacing: 1px;
}

@media (max-width: 1050px) {
  .contact-heading {
    font-size: 50px;
  }

  .contact-sub-heading {
    font-size: 50px;
  }

  .landing-btn.conversation {
    height: 50px;
    font-size: 16px;
  }

  .contact-form {
    width: 60vw;
  }
}

@media (max-width: 720px) {
  .contact {
    min-height: 50vh;
  }

  .landing-btn.conversation {
    margin-top: 15%;
  }

  .form-container {
    flex-direction: column-reverse;
    margin: 5% 0;
  }

  .contact-form {
    width: 90vw;
  }

  .contact-information {
    width: 90vw;
  }
}

@media only screen and (max-device-width: 415px) and (max-device-height: 920px) {
  .contact {
    min-height: 50vh;
  }

  .landing-btn.conversation {
    margin-top: 15%;
  }
}

@media only screen and (device-width: 820px) and (device-height: 1180px) {
  .contact {
    min-height: 40vh;
  }

  .form-container {
    flex-direction: column-reverse;
    margin: 5% 0;
  }

  .contact-form {
    width: 90vw;
  }

  .contact-information {
    width: 90vw;
  }

  .landing-btn.conversation {
    margin-top: 15%;
  }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) {
  .contact {
    min-height: 40vh;
  }

  .form-container {
    flex-direction: column-reverse;
    margin: 5% 0;
  }

  .contact-form {
    width: 90vw;
  }

  .contact-information {
    width: 90vw;
  }

  .landing-btn.conversation {
    margin-top: 15%;
  }
}

@media only screen and (device-width: 912px) and (device-height: 1368px) {
  .contact {
    min-height: 40vh;
  }

  .form-container {
    flex-direction: column-reverse;
    margin: 5% 0;
  }

  .contact-form {
    width: 90vw;
  }

  .contact-information {
    width: 90vw;
  }

  .landing-btn.conversation {
    margin-top: 15%;
  }
}
