/* customize antd classes for Tabs component */
.ant-tabs {
    color: var(--white);
    font-family: var(--text);
}

.ant-tabs.light {
    color: var(--gray);
}

.ant-tabs-nav-list {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px var(--white) solid; */
    line-height: 2;
    margin-bottom: 40px;
}

.ant-tabs-nav-list.light-list {
    border-bottom: 1px var(--gray) solid !important;
}

.ant-tabs-nav-operations {
    display: none;
}

.ant-tabs-tab {
    font-size: 25px;
    margin: 0 10% 0 10%;
}

.ant-tabs-tab.ant-tabs-tab-active {
    border-bottom: 4px var(--orange) solid !important;
    z-index: 2;
}

.ant-tabs-tab-btn:hover {
    font-weight: bold;
}


.ant-tabs-tab-btn:focus {
    outline: none;
}

.ant-tabs-tabpane:focus {
    outline: none;
}

.search-form {
    display: flex;
}

.searchbar {
    flex-grow: 5;
    padding: 5px 5px 5px 10px;
    background-color: #121e25;
    font-size: 18px;
    height: 30px;
    border: none;
    border-radius: 0 .5em .5em 0;
    color: var(--white);

}

.searchbar.light {
    background-color: var(--white);
    border: 1px var(--gray) solid;
    color: var(--gray);
}

.searchbar:focus {
    outline: none;
}

.topic-filter {
    flex-grow: 1;
    background-color: #121e25;
    color: #bdbcbc;
    font-size: 18px;
    border: none;
    padding-left: 7px;
    border-right: 1px #bdbcbc solid;
    border-radius: .5em 0 0 .5em;
}

.topic-filter.light {
    background-color: var(--gray);
    color: var(--white);
}

.topic-filter:focus {
    outline: none;
}

::placeholder {
    color: #bdbcbc;
}

/* iPad Pro */
@media(width: 1024px) {
    .ant-tabs-tab {
        font-size: 30px;
        margin: 0 10% 0 10%;
    }

    .searchbar {
        width: 50px;
        font-size: 22px;
    }

    .topic-filter {
        width: 60px;
        font-size: 22px;
    }
}


/* Moto G4 and Galaxy S5 */
@media(width: 360px) {

    .ant-tabs-tab {
        font-size: 18px;
        margin: 0 10% 0 10%;
    }

    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* Pixel 2 & Pixel XL */
@media(width: 411px) {
    .ant-tabs-tab {
        font-size: 20px;
        margin: 0 10% 0 10%;
    }

    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* iPhone 5/SE */
@media(width: 320px) {
    .ant-tabs-tab {
        font-size: 16px;
        margin: 0 10% 0 10%;
    }

    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* iPhone 6/7/8/X */
@media(width: 375px) {
    .ant-tabs-tab {
        font-size: 18px;
        margin: 0 10% 0 10%;
    }

    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* iPhone 6/7/8/ Plus */
@media(width: 414px) {
    .ant-tabs-tab {
        font-size: 20px;
        margin: 0 10% 0 10%;
    }

    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* Galaxy Fold */
@media(width: 280px) {
    .ant-tabs-tab {
        font-size: 18px;
        margin: 0 10% 0 10%;
    }

    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}


