/* customize antd classes for Tabs component */
.search-form {
    display: flex;
}

.searchbar {
    flex-grow: 5;
    padding: 5px 5px 5px 10px;
    background-color: var(--blueyonder);
    font-size: 18px;
    height: 30px;
    border: 1px var(--blueyonder) solid;
    color: var(--periwinklecrayola);
    border-radius: 0 .5em .5em 0;
}

.searchbar.light {
    color: var(--lightsteelblue);
    background-color: var(--blueyonder);
}

.searchbar:focus {
    outline: none;
}

input[id="search"]::placeholder {
    color: var(--lightsteelblue);
}

.topic-filter {
    flex-grow: 1;
    background-color: var(--blueyonder);
    color: var(--periwinklecrayola);
    font-size: 18px;
    border: none;
    padding-left: 7px;
    border-right: 1px var(--darkerindependence) solid;
    border-radius: .5em 0 0 .5em;
}

.topic-filter.light {
    background-color: var(--blueyonder);
    border-right: 1px var(--lightsteelblue) solid;
    color: var(--lightsteelblue); 
}

.topic-filter:focus {
    outline: none;
}



.icon-tab {
    display: flex;
}

/* iPad Pro */
@media(width: 1024px) {
    .searchbar {
        width: 50px;
        font-size: 22px;
    }

    .topic-filter {
        width: 60px;
        font-size: 22px;
    }
}

/* Moto G4 and Galaxy S5 */
@media(width: 360px) {
    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* Pixel 2 & Pixel XL */
@media(width: 411px) {
    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* iPhone 5/SE */
@media(width: 320px) {
    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* iPhone 6/7/8/X */
@media(width: 375px) {
    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* iPhone 6/7/8/ Plus */
@media(width: 414px) {
    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}

/* Galaxy Fold */
@media(width: 280px) {
    .searchbar {
        width: 50px;
        font-size: 16px;
    }

    .topic-filter {
        width: 60px;
        font-size: 16px;
    }
}


