.landing-container {
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 25% 20% 20% 20%;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-gap: 5px;
  justify-content: center;
  overflow: hidden;
}

.landing-container img {
  max-width: 100%;
}

.img-one {
  grid-column: 1;
  grid-row: 1 / 4;
}

.img-two {
  grid-column: 1;
  grid-row: 5 / 7;
}

.img-three {
  grid-column: 2;
  grid-row: 1 / 3;
}

.img-four {
  grid-column: 2;
  grid-row: 4 / 7;
}

.img-five {
  grid-column: 3;
  grid-row: 1 / 3;
}

.img-six {
  grid-column: 3;
  grid-row: 3 / 5;
}

.img-seven {
  grid-column: 3;
  grid-row: 5 / 7;
}

.img-eight {
  grid-column: 4;
  grid-row: 1 / 3;
}

.img-nine {
  grid-column: 4;
  grid-row: 3 / 7;
}


@media (max-width: 920px) {
}

@media (max-width: 760px) {
}
