.main {
    display: flex;
    margin: 5% 10% 0 0;
    flex-direction: column;
}

#welcome-header {
    font-size: 100px;
    color: var(--cornflowerblue);
    font-weight: bold;
    font-family: var(--main);
    margin-bottom: 0;
}

.intro {
    font-size: 36px;
    color: var(--periwinklecrayola);
    font-weight: bold;
    font-family: var(--text);
    min-width: 430px;
}

.intro.light {
    color: var(--blueyonder);
}

.waves {
    position: fixed;
    bottom: 0;
    left: 235px;
}

@media(max-width: 1000px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 90px;
    }

    .intro {
        font-size: 35px;
        min-width: 300px;
    }

    .waves {
        left: 0;
    }
}

/* iPad Pro */
@media(width: 1024px) {
   .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 120px;
    }

    .intro {
        font-size: 50px;
        min-width: 500px;
    }

    .waves {
        left: 268px;
    }
}

/* iPad */
@media(width: 768px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro {
        font-size: 35px;
        min-width: 300px;
    }
}

/* Surface Duo */
@media(width: 540px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro {
        font-size: 35px;
        min-width: 300px;
    }  
}

/* Moto G4 & Galaxy S5 */
@media(width: 360px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 60px;
    }

    .intro {
        font-size: 30px;
        min-width: 300px;
    }  
}

/* Pixel 2 & Pixel XL */
@media(width: 411px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro {
        font-size: 35px;
        min-width: 300px;
    } 
}

/* iPhone 5/SE */
@media(width: 320px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 60px;
    }

    .intro {
        font-size: 30px;
        min-width: 200px;
    }
}

/* iPhone 6/7/8/X */
@media(width: 375px) {
    .main {
        margin: 20% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro {
        font-size: 35px;
        min-width: 300px;
    }  
}

/* iPhone 6/7/8/ Plus */
@media(width: 414px) {
    .main {
        margin: 20% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro {
        font-size: 35px;
        min-width: 300px;
    }  
}

/* Galaxy Fold */
@media(width: 280px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 50px;
    }

    .intro {
        font-size: 25px;
        min-width: 200px;
    }
}