.main {
    display: flex;
    margin: 5% 10% 0 0;
    flex-direction: column;
}


#welcome-header {
    font-size: 100px;
    color: var(--orange);
    font-weight: bold;
    font-family: var(--main);
    margin-bottom: 0;
}

.intro-lightmode {
    font-size: 40px;
    color: var(--darkergray);
    font-weight: bold;
    font-family: var(--text);
    min-width: 400px;
}

.intro-darkmode {
    font-size: 40px;
    color: var(--white);
    font-weight: bold;
    font-family: var(--text);
    min-width: 400px;
}

.abstract-mountains {
    position: fixed;
    bottom: 0;
    left: 235px;
}

@media(max-width: 1000px) {

    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 90px;
    }

    .intro-lightmode {
        font-size: 35px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 35px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0px;
    }
}

/* iPad Pro */
@media(width: 1024px) {

   .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 120px;
    }

    .intro-lightmode {
        font-size: 50px;
        min-width: 500px;
    }

    .intro-darkmode {
        font-size: 50px;
        min-width: 500px;
    }
    .abstract-mountains {
        left: 268px;
    }
}

/* iPad */
@media(width: 768px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro-lightmode {
        font-size: 35px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 35px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0px;
    }
}

/* Surface Duo */
@media(width: 540px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro-lightmode {
        font-size: 35px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 35px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0px;
    }
    
}

/* Moto G4 & Galaxy S5 */
@media(width: 360px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 60px;
    }

    .intro-lightmode {
        font-size: 30px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 30px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0px;
    }
    
}

/* Pixel 2 & Pixel XL */
@media(width: 411px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro-lightmode {
        font-size: 35px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 35px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0px;
    }
    
}

/* iPhone 5/SE */
@media(width: 320px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 60px;
    }

    .intro-lightmode {
        font-size: 30px;
        min-width: 200px;
    }

    .intro-darkmode {
        font-size: 30px;
        min-width: 200px;
    }

    .abstract-mountains {
        left: 0px;
    }  
}

/* iPhone 6/7/8/X */
@media(width: 375px) {
    .main {
        margin: 20% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro-lightmode {
        font-size: 35px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 35px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0;
    }
    
}

/* iPhone 6/7/8/ Plus */
@media(width: 414px) {
    .main {
        margin: 20% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro-lightmode {
        font-size: 35px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 35px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0;
    }
    
}

/* Galaxy Fold */
@media(width: 280px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 50px;
    }

    .intro-lightmode {
        font-size: 25px;
        min-width: 200px;
    }

    .intro-darkmode {
        font-size: 25px;
        min-width: 200px;
    }

    .abstract-mountains {
        left: 0px;
    }  
}