.main {
    display: flex;
    margin: 5% 10% 0 0;
    flex-direction: column;
}


#welcome-header {
    font-size: 100px;
    color: var(--orange);
    font-weight: bold;
    font-family: var(--main);
    margin-bottom: 0;
}

.intro-lightmode {
    font-size: 40px;
    color: var(--darkergray);
    font-weight: bold;
    font-family: var(--text);
}

.intro-darkmode {
    font-size: 40px;
    color: var(--white);
    font-weight: bold;
    font-family: var(--text);
}

.abstract-mountains {
    position: fixed;
    bottom: 0;
    left: 235px;
}

@media(max-width: 1054px),
(max-height: 723px) {

    .main {
        margin-left: 10%;
    }

    #welcome-header {
        font-size: 90px;
    }

    .intro-lightmode {
        font-size: 36px;
    }

    .intro-darkmode {
        font-size: 36px;
    }
}

@media(max-width: 917px),
(max-height: 723px) {

    .main {
        margin: 5% 0 0 20%;
    }

    #welcome-header {
        font-size: 80px;
    }

    .intro-lightmode {
        font-size: 32px;
    }

    .intro-darkmode {
        font-size: 32px;
    }
}

@media(max-width: 756px),
(max-height: 723px) {

    .main {
        margin: 10% 0 0 30%;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro-lightmode {
        font-size: 28px;
    }

    .intro-darkmode {
        font-size: 28px;
    }
}

/* iPad Pro */
@media(width: 1024px),
(height: 1366px) {

   .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 120px;
    }

    .intro-lightmode {
        font-size: 50px;
        min-width: 500px;
    }

    .intro-darkmode {
        font-size: 50px;
        min-width: 500px;
    }
    .abstract-mountains {
        left: 268px;
    }
}

/* iPad */
@media(width: 768px),
(height: 1024px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 100px;
    }

    .intro-lightmode {
        font-size: 50px;
        min-width: 500px;
    }

    .intro-darkmode {
        font-size: 50px;
        min-width: 500px;
    }
}

/* Surface Duo */
@media(width: 540px),
(height: 720px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 60px;
    }

    .intro-lightmode {
        font-size: 30px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 30px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 203px;
    }
    
}

/* Moto G4 & Galaxy S5 */
@media(width: 360px),
(height: 640px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 60px;
    }

    .intro-lightmode {
        font-size: 30px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 30px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0px;
    }
    
}

/* Pixel 2 & Pixel XL */
@media(width: 411px),
(height: 731px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 70px;
    }

    .intro-lightmode {
        font-size: 35px;
        min-width: 300px;
    }

    .intro-darkmode {
        font-size: 35px;
        min-width: 300px;
    }

    .abstract-mountains {
        left: 0px;
    }
    
}

/* iPhone 5/SE */
@media(width: 320px),
(height: 568px) {
    .main {
        margin: 10% 0 0 0;
    }

    #welcome-header {
        font-size: 60px;
    }

    .intro-lightmode {
        font-size: 30px;
        min-width: 200px;
    }

    .intro-darkmode {
        font-size: 30px;
        min-width: 200px;
    }

    .abstract-mountains {
        left: 0px;
    }
    
}