.main-nav {
    display: flex;
    flex-direction: row;
}

.nav {
    list-style-type: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-item {
    font-size: 22px;
    margin-bottom: 15px;
}

.nav-items-section {
    border-right: 1px solid var(--gray);
    padding-right: 10px;
    font-family: var(--text);
    min-height: 100vh;
}

.main-nav-item {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: var(--main);
}

.main-nav-link-lightmode {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 5px solid var(--orange);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.main-nav-link-darkmode {
    color: var(--white);
    text-decoration: none;
    border-bottom: 5px solid var(--orange);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.navbar-link {
    color: var(--white);
    text-decoration: none;
    transition: color 0.25s ease-out;
}

.navbar-link.light {
    color: var(--darkergray);
}

.navbar-link:hover {
    border-bottom: 4px solid var(--orange);
    transition: border-bottom 0.15s ease-in;
    font-weight: bolder;
}

.active {
    border-bottom: 4px solid var(--orange);
}

.active.light {
    border-bottom: 4px solid var(--orange);
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.social-link {
    color: var(--gray);
    margin-right: 5px;
}

.social-link:hover {
    color: var(--white);
    transition: color 0.15s ease-in;
}

.social-link.light:hover {
    color: var(--blue);
}

.copyright {
    position: absolute;
    bottom: 20px;
    font-family: var(--text);
    font-size: 12px;
    color: var(--gray);
}

.copyright.light {
    color: var(--darkergray);
}

/* Only show on mobile or small screens */

.mobile-main-nav-link-darkmode {
    display: none;
}

.mobile-main-nav-link-lightmode {
    display: none
}

.mobile-exit-button-dark {
    display: none;
}

.mobile-exit-button-light {
    display: none;
}

.hamburger-dark {
    display: none;
}

.hamburger-light {
    display: none;
}

.mobile-home-link-darkmode {
    display: none;
}

.mobile-home-link-lightmode {
    display: none;
}

@media(max-width: 1000px) {
    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 150ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 150ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 150ms;
        min-width: 40%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 150ms;
        min-width: 40%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }

    .nav-item {
        font-size: 24px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 28px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 28px;
        margin-right: 7px;
    }
}

/* iPad Pro */
@media(width: 1024px) {

    .nav-item {
        font-size: 35px;
    }
}

/* iPad */
@media(width: 768px),
(height: 1024px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }

    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }
}

@media(max-width: 560px) {
    .mobile-home-link-darkmode {
        font-size: 22px;
    }
}

@media(max-width: 450px) {
    .mobile-home-link-darkmode {
        font-size: 18px;
    }
}


/* Surface Duo */
@media(width: 540px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }

    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }
}

/* Moto G4 & Galaxy S5 */
@media(width: 360px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }


    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 80px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }
}

/* Pixel 2 & Pixel XL */
@media(width: 411px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }

    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }
}

/* iPhone 5/SE */
@media(width: 320px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }


    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 19px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 19px;
        margin-right: 7px;
    }
}

/* iPhone 6/7/8/X */
@media(width: 375px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }


    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }
}

/* iPhone 6/7/8/ Plus */
@media(width: 414px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }


    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 22px;
        margin-right: 7px;
    }
}

/* Galaxy Fold */
@media(width: 280px) {

    .nav-dark {
        left: -100%;
        background-color: var(--blue);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }

    .nav-light {
        left: -100%;
        background-color: var(--white);
        z-index: 1;
        transition: 250ms;
        border-right: 1px solid var(--gray);
        margin-top: 0;
    }


    .nav-items-section {
        border-right: none;
    }

    .hamburger-dark {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--white);
        border: none;
    }

    .hamburger-light {
        display: block;
        position: absolute;
        top: 3%;
        left: 4%;
        background: none;
        color: var(--blue);
        border: none;
    }

    .hamburger-dark.active {
        display: none;
    }

    .hamburger-light.active {
        display: none;
    }

    .nav-dark.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }

    .nav-light.active {
        left: 0;
        padding-left: 20px;
        transition: 250ms;
        min-width: 50%;
        border-right: 1px solid var(--gray);
    }


    .nav-toggle {
        display: block;
    }

    .main-nav-link-darkmode {
        display: none;
    }

    .main-nav-link-lightmode {
        display: none;
    }

    .mobile-main-nav-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        border-bottom: 5px solid var(--orange);
        font-size: 20px;
    }

    .mobile-main-nav-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        left: 10%;
        top: 5%;
    }

    .mobile-exit-button-dark {
        display: block;
        background: none;
        border: none;
        color: var(--white);
        margin-right: 5px;
    }

    .mobile-exit-button-light {
        display: block;
        background: none;
        border: none;
        color: var(--blue);
        margin-right: 5px;
    }


    .nav-item {
        font-size: 20px;
    }

    .nav-items-section {
        margin-top: 90px;
    }


    .mobile-home-link-darkmode {
        display: block;
        color: var(--white);
        text-decoration: none;
        font-size: 16px;
        margin-right: 7px;
    }

    .mobile-home-link-lightmode {
        display: block;
        color: var(--blue);
        text-decoration: none;
        font-size: 16px;
        margin-right: 7px;
    }
}