.main-nav {
    display: flex;
    flex-direction: row;
}

.nav {
    list-style-type: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-item {
    font-size: 22px;
    margin-bottom: 15px;
}

.nav-items-section {
    border-right: 1px solid var(--gray);
    padding-right: 10px;
    font-family: var(--text);
    min-height: 100vh;
}

.main-nav-item {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: var(--main);
}

.main-nav-link-lightmode {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 5px solid var(--orange);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.main-nav-link-darkmode {
    color: var(--white);
    text-decoration: none;
    border-bottom: 5px solid var(--orange);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.nav-link-lightmode {
    color: var(--darkergray);
    text-decoration: none;
    transition: color 0.25s ease-out;
}

.nav-link-lightmode:hover {
    border-bottom: 4px solid var(--orange);
    transition: border-bottom 0.15s ease-in;
    font-weight: bolder;
}

.nav-link-darkmode {
    color: var(--white);
    text-decoration: none;
    transition: color 0.25s ease-out;
}

.nav-link-darkmode:hover {
    border-bottom: 4px solid var(--orange);
    transition: border-bottom 0.15s ease-in;
    font-weight: bolder;
}

.active-light {
    border-bottom: 4px solid var(--orange);
    font-weight: bolder;
}

.active-dark {
    border-bottom: 4px solid var(--orange);
    font-weight: bolder;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.social-link-dark {
    color: var(--gray);
    margin-right: 5px;
}

.social-link-light {
    color: var(--gray);
    margin-right: 5px;
}

.social-link-dark:hover {
    color: var(--white);
    transition: color 0.15s ease-in;
}

.social-link-light:hover {
    color: var(--blue);
    transition: color 0.15s ease-in;
}

.copyright-dark {
    position: absolute;
    bottom: 20px;
    font-family: var(--text);
    font-size: 12px;
    color: var(--gray);
}

.copyright-light {
    position: absolute;
    bottom: 20px;
    font-family: var(--text);
    font-size: 12px;
    color: var(--darkergray);
}

/* iPad Pro */
@media(width: 1024px),
(height: 1366px) {

    .nav-item {
        font-size: 35px;
    }
}

/* iPad */
@media(width: 768px),
(height: 1024px) {

    .nav-item {
        font-size: 30px;
    }
}
