.about {
    display: flex;
    margin: 0 10% 0 0;
    flex-direction: column;
}

.sub-heading-light {
    color: var(--blue);
    font-family: var(--main);
    font-size: 34px;
}

.sub-heading-dark {
    color: var(--white);
    font-family: var(--main);
    font-size: 34px;
}

.about-text-light {
    font-size: 22px;
    color: var(--darkergray);
    font-family: var(--text);
}

.about-text-dark {
    font-size: 22px;
    color: var(--white);
    font-family: var(--text);
}

/* iPad Pro */
@media(width: 1024px),
(height: 1366px) {

    .about-text-light {
        font-size: 35px;
    }
    
    .about-text-dark {
        font-size: 35px;
    }

    .sub-heading-light {
        font-size: 50px;
    }
    
    .sub-heading-dark {
        font-size: 50px;
    }
}

/* iPad */
@media(width: 768px),
(height: 1024px) {

    .about-text-light {
        font-size: 30px;
    }
    
    .about-text-dark {
        font-size: 30px;
    }

    .sub-heading-light {
        font-size: 50px;
    }
    
    .sub-heading-dark {
        font-size: 50px;
    }
}

@media(max-width: 414px) {
    .about-text-dark {
        font-size: 20px;
    }
}