.about {
    display: flex;
    margin: 0 10% 0 0;
    flex-direction: column;
}

.sub-heading-light {
    color: var(--blue);
    font-family: var(--main);
    font-size: 34px;
}

.sub-heading-dark {
    color: var(--white);
    font-family: var(--main);
    font-size: 34px;
}
.page-text {
    font-size: 22px;
    color: var(--white);
    font-family: var(--text);
}

.page-text.light {
     color: var(--darkergray);
}



.back-to-top-btn {
    background: none;
    border: none;
    font-size: 22px;
    color: #bdbcbc;
    border-bottom: 2px#bdbcbc solid;
    margin: 5% 0 5% 0;
    margin-left: 42%;
}

.back-to-top-btn.focused {
    margin-left: 42%;
}

.back-to-top-btn:focus {
    outline: none;
}

.back-to-top-btn.light {
    color: var(--darkergray);
    border-bottom: 2px var(--blue) solid;
}

.back-to-top-btn.light:hover {
    color: var(--blue);
    border-bottom: 2px solid var(--orange);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.back-to-top-btn:hover {
    color: var(--white);
    border-bottom: 2px solid var(--orange);
    transition: color 0.25s ease-out;
    transition: border-bottom 0.25s ease-out;
}

.projects {
    text-align: center;
}

.loader {
    border: 10px solid transparent;
    border-top: 10px solid var(--gray);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin: 10% 0 0 40%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* iPad Pro */
@media(width: 1024px),
(height: 1366px) {

    .light {
        font-size: 35px;
    }
    
    .page-text {
        font-size: 35px;
    }

    .sub-heading-light {
        font-size: 50px;
    }
    
    .sub-heading-dark {
        font-size: 50px;
    }
}

/* iPad */
@media(width: 768px),
(height: 1024px) {

    .light {
        font-size: 30px;
    }
    
    .page-text {
        font-size: 30px;
    }

    .sub-heading-light {
        font-size: 50px;
    }
    
    .sub-heading-dark {
        font-size: 50px;
    }
}

@media(max-width: 414px) {
    .page-text {
        font-size: 20px;
    }
    .back-to-top-btn {
        margin-left: 25%;
    }

    .back-to-top-btn.focused {
        margin-left: 25%;
    }

    .loader {
        margin-left: 30%;
    }
}