.page-header {
  color: var(--darkgray);
  font-family: var(--font);
  font-weight: 500;
  font-size: 62px;
  text-align: center;
  padding-top: 5%;
}

.page-header.dark {
  color: var(--ivory);
}

.btn-container {
  align-self: center;
  margin-top: 3%;
}

.btn-link {
  text-decoration: none;
  color: var(--ivory);
}

.back-btn {
  text-transform: uppercase;
  height: 80px;
  width: 80px;
  background-color: var(--ivory);
  color: var(--darkgray);
  font-family: var(--font);
  font-weight: var(--main);
  letter-spacing: 1px;
  border: none;
  border-right: 1px solid var(--darkgray);
  border-bottom: 1px solid var(--darkgray);
}

.back-to-top {
  margin-bottom: 5%;
}

.browse-all {
  margin-bottom: 2%;
}

.filter-form {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.filter-options {
  display: flex;
  justify-content: space-evenly;
}

.filter-option {
  letter-spacing: 1px;
  text-transform: capitalize;
  background: transparent;
  color: var(--darkgray);
  border: none;
  margin-right: 4%;
  margin-left: 4%;
  font-size: 18px;
}

.filter-option.active {
  border-bottom: 2px var(--darkgray) solid;
}

@media (max-width: 920px) {
  .page-header {
    font-size: 60px;
  }
}

/* DEVICE SPECIFIC STYLING */

@media only screen and (max-device-width: 415px) and (max-device-height: 920px) {
  .page-header {
    font-size: 40px;
  }

  .filter-option {
    font-size: 18px;
  }

  .browse-all {
    margin-bottom: 5%;
  }

}

@media only screen and (device-width: 375px) and (device-height: 667px) {
  .filter-option {
    font-size: 16px;
  }
}
