.photo-project-section {
  text-align: center;
}

.photo-section {
  text-align: center;
}

.photo {
  max-width: 50vw;
  max-height: 80vh;
  margin-bottom: 100px;
}

.photo-title {
  font-family: var(--font);
  font-weight: var(--text);
  font-size: 16px;
  color: var(--gray);
}

.photo-project {
  width: 40vw;
}

.photo-project:hover {
  cursor: pointer;
}

.photo-project-title {
  font-family: var(--font-text);
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 100px;
}

.controlsMessage {
  font-family: var(--font);
  font-weight: var(--text);
  color: var(--gray);
  opacity: 1;
  transition: 3s;
}

.hide {
  opacity: 0;
  transition: 3s;
}

@media (max-width: 920px) {
  .photo-project-section {
    margin-top: 100px;
  }
  .photo-project {
    width: 95vw;
  }

  .photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo {
    max-width: 95vw;
    margin-top: 100px;
  }

  .photo-container {
    width: 95vw;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .photo {
    margin-bottom: 50px;
  }
}
