.services {
    min-height: 100vh;
    display: grid;
    background-color: var(--baby_blue_eyes);
}

.coming-soon {
    font-size: 50px;
    font-family: var(--text);
    justify-self: center;
    color: var(--light_oxford_blue);
}